.postBox{
    border: solid;
    padding: 2rem;
    width: 75vw;
    box-shadow: 10px 5px 5px gray;
    border-radius: 25px;
}

.postBoxDiv{
    display: flex;
    flex-direction: column;
    margin: 5px;
    
}

.postName{
    justify-content: start;
}

.postText{
    word-wrap: wrap;
}

.postBtns{
    display: flex;
    flex-direction: row;
    justify-content: end;
    
}

.postBtn{
    margin: 3rem;
}


